@model CRUDOperations.Models.Product

@{
    ViewBag.Title = "DeleteProduct";
}

<h2 style="text-align:center; color:gainsboro; background-color:darkgreen">DeleteProduct</h2>
@using (Html.BeginForm("DeleteProduct", "Product"))
{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <table align="center" border="1">
        <tr>
            <td>Product Id:</td>
            <td>@Html.TextBoxFor(P => P.Productid, new { @readonly = "true" })</td>
        </tr>
        <tr>
            <td>Product Name:</td>
            <td>@Html.TextBoxFor(P => P.ProductName, new { @readonly = "true" })</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>@Html.TextBoxFor(P => P.Price, new { @readonly = "true" })</td>
        </tr>
        <tr>
            <td>Brand:</td>
            <td>@Html.TextBoxFor(P => P.Brand, new { @readonly = "true" })</td>
        </tr>
        <tr>
            <td>Product Status:</td>
            <td>@Html.TextBoxFor(P => P.Status, new { @readonly = "true" })</td>
        </tr>
    </table>
    <font color="red;">Are you sure of deleting the current record?</font>
    <input type="submit" value="Yes" class="btn btn-primary" />
    <br />
    @Html.ActionLink("Cancel", "DisplayProducts")

}

